@import url('https://fonts.googleapis.com/css?family=Karma');

body {

    background-color: aliceblue;

}

button {

    height: 25px;
    border-radius: 5px;

}

h1, p {

    text-align: center;
    font-family: Karma, sans-serif;

}

.storyText {

    margin: auto;

    width: 60%;

}